@mixin verticalAlign() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box1 {
  width: 50vw;
  text-align: center;
  padding: 10px;
  .crossIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    &:active {
      opacity: 0.8;
    }
  }
  .boxA {
    @include verticalAlign();
    > label {
      > p {
        font-size: 30px;
        font-weight: 600;
      }
      .imgBox {
        width: 200px;
        height: 200px;
        > img {
          // width: 9rem;
          // cursor: pointer;
          // margin: 15px 0;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .edit_icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #eeaa11;
    }
  }
  .boxB {
    .boxB1 {
      > p {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 10px;
      }
    }
    .boxB2 {
      display: flex;
      justify-content: center;
      .box1A3 {
        border: 2px solid #000000;
        border-left: 7px solid #fc4444;
        width: 75%;

        > div:nth-child(1) {
          > input {
            padding: 2px 5px;
            width: 95%;
            border: none;
            line-height: 40px;
            font-size: 18px;
            //disable border on focus
            &:focus {
              outline: none !important;
            }
          }
        }
      }
    }
  }
  .boxC {
    text-align: right;
    .buttonEnabled {
      border: none;
      background: black;
      color: white;
      line-height: 40px;
      width: 100px;
      font-size: 15px;
      cursor: pointer;
      margin-top: 15px;
      &:active {
        background: rgb(12, 12, 12);
      }
    }
    .buttonDisabled {
      border: none;
      background: black;
      color: white;
      line-height: 40px;
      width: 100px;
      font-size: 15px;
      cursor: pointer;
      margin-top: 15px;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
.errors {
  font-size: 15px;
  font-weight: normal;
  color: #fc4444;
  padding-top: 5px;
}
@media screen and (max-width: 750px) {
  .box1 {
    min-width: 90vw;
  }
}
