@mixin verticalAlign() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin buttonProperties() {
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.8 !important;
  }
  &:active {
    opacity: 1 !important;
  }
}
//creating a mixin that accepts a parameter
@mixin editIconPos($top, $left) {
  z-index: 1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  top: $top;
  left: $left;
}
.box1 {
  //   padding: 30px;
  .box1A {
    display: flex;
    justify-content: space-between;
    .box1A1 {
      display: flex;
      position: relative;
      .box1A1A {
        .editIcon {
          @include editIconPos($top: -11px, $left: -11px);
        }
        .logoBox {
          width: 120px;
          height: 120px;
          border: 2px solid black;
          // @include verticalAlign();
          @include buttonProperties();
          background-color: #ececec;
          > label {
            > img {
              // filter: invert(100%);
              opacity: 0.05;
              cursor: pointer;
            }
          }
          &:hover {
            background-color: #ffffff;
          }
        }
      }
      .box1A1B {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        padding-left: 15px;
        display: flex;
        .box1A1B1 {
          display: flex;
          justify-content: center;
          align-items: left;
          flex-direction: column;
          .editIconForName {
            @include editIconPos($top: -4px, $left: 129px);
          }
          .editName {
            display: block;
            padding: 2px 5px;
            width: 250px;
            border: 2px solid black;
            line-height: 40px;
            font-size: 45px;
            font-weight: bold;
            transition: all 0.2s ease;
            margin-bottom: 5px;
            background-color: #ececec;

            &:focus {
              outline: none !important;
            }
            &:hover {
              background-color: #ffffff;
            }
          }
        }
        .box1A1B2 {
          .editIconForTag {
            @include editIconPos($top: 68px, $left: 129px);
          }
          .editTag {
            padding: 2px 5px;
            width: 300px;
            border: 2px solid black;
            font-size: 25px;
            transition: all 0.2s ease;
            margin-top: 5px;
            background-color: #ececec;

            &:focus {
              outline: none !important;
            }
            &:hover {
              background-color: #ffffff;
            }
          }
        }
      }
    }
    .box1A2 {
      > button {
        border: none;
        color: white;
        line-height: 50px;
        width: 250px;
        font-size: 18px;
      }
    }
  }
  .box1B {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 0px;
    .box1Bx {
      background-color: #ffffff;
      width: 70%;
      .box1B1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > div {
          height: 136px;
          width: 206px;
          background-color: #ececec;
          margin: 15px;
          border: 2px solid black;
          position: relative;
          @include buttonProperties();
          // @include verticalAlign();
          > img {
            @include editIconPos($top: -13px, $left: -12px);
          }
          > label > img {
            // opacity: 0.05 !important;
            cursor: pointer;
          }
          &:hover {
            background-color: #ffffff;
          }
        }
      }
      .box1B2 {
        display: flex;
        justify-content: center;
        padding: 15px;
        .inputDiv {
          border: 2px solid black;
          display: flex;
          background-color: #ececec;
          width: 85%;
          > div:nth-child(1) {
            // flex: 1;
          }
          > div:nth-child(2) {
            flex: 12;
          }
          > div {
            @include verticalAlign();
            > img {
              width: 30px;
              margin: 0px 10px;
            }
            > input {
              line-height: 35px;
              font-size: 20px;
              // font-weight: bold;
              transition: all 0.2s ease;
              background-color: #ececec;
              border: none;
              width: 99%;
              &:focus {
                outline: none !important;
              }
              &:hover {
                background-color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .box1C {
    display: flex;
    justify-content: center;
    > div {
      width: 70%;
      > p {
        margin: 20px 0;
      }
    }
  }
  .box1D {
    display: flex;
    justify-content: center;
    > div {
      padding: 20px 10px;
      width: 70%;
      background-color: #ffffff;
      .descBox {
        display: flex;
        > div:nth-child(1) {
          flex: 1;
        }
        > div:nth-child(2) {
          flex: 10;
        }
        .userProfileImg {
          @include verticalAlign();
        }
        > div:nth-child(2) {
          > p:nth-child(1) {
            color: #000000;
            font-size: 18px;
          }
          > div {
            > textarea {
              width: 99% !important;
              border: none;
              resize: none;
              &:focus {
                outline: none !important;
              }
            }
          }
        }
      }
    }
  }
}
.lystBtn {
  width: 350px;
  height: 50px;
  border: none;
  color: white;
  background-color: black;
  font-size: 18px;
  @include buttonProperties();
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c4c4c4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c4c4c4;
}
