@mixin verticalAlign() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin buttonProperties() {
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
}
//creating a mixin that accepts a parameter
@mixin editIconPos($top, $left) {
  z-index: 1;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  top: $top;
  left: $left;
}
.box1 {
  //   padding: 30px;
  .box1A {
    display: flex;
    justify-content: space-between;
    .box1A1 {
      display: flex;
      position: relative;
      .box1A1A {
        .editIcon {
          @include editIconPos($top: -11px, $left: -11px);
        }
        .logoBox {
          width: 120px;
          height: 120px;
          border: 2px solid black;
          @include verticalAlign();
          @include buttonProperties();
          background-color: #ececec;

          > img {
            // filter: invert(100%);
            opacity: 0.3;
          }
          &:hover {
            background-color: #ffffff;
          }
        }
      }
      .box1A1B {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        padding-left: 15px;
        display: flex;
        .box1A1B1 {
          display: flex;
          justify-content: center;
          align-items: left;
          flex-direction: column;
          .editIconForName {
            @include editIconPos($top: -4px, $left: 129px);
          }
          .editName {
            display: block;
            padding: 2px 5px;
            width: 250px;
            border: 2px solid black;
            line-height: 40px;
            font-size: 45px;
            font-weight: bold;
            transition: all 0.2s ease;
            margin-bottom: 5px;
            background-color: #ececec;

            &:focus {
              outline: none !important;
            }
            &:hover {
              background-color: #ffffff;
            }
          }
        }
        .box1A1B2 {
          .editIconForTag {
            @include editIconPos($top: 68px, $left: 129px);
          }
          .editTag {
            padding: 2px 5px;
            width: 300px;
            border: 2px solid black;
            font-size: 25px;
            transition: all 0.2s ease;
            margin-top: 5px;
            background-color: #ececec;

            &:focus {
              outline: none !important;
            }
            &:hover {
              background-color: #ffffff;
            }
          }
        }
      }
    }
    .box1A2 {
      > button {
        border: none;
        color: white;
        line-height: 50px;
        width: 250px;
        font-size: 18px;
      }
    }
  }
  .box1B {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .box1Bx {
      background-color: #ffffff;
      width: 90%;
      .box1B1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > div {
          height: 136px;
          width: 206px;
          background-color: #ececec;
          margin: 15px;
          border: 2px solid black;
          position: relative;
          @include buttonProperties();
          @include verticalAlign();
          > img:nth-child(1) {
            @include editIconPos($top: -13px, $left: -12px);
          }
          > img:nth-child(2) {
            opacity: 0.3 !important;
          }
          &:hover {
            background-color: #ffffff;
          }
        }
      }
      .box1B2 {
        display: flex;
        justify-content: center;
        .inputDiv {
          border: 2px solid black;
          display: flex;
          background-color: #ececec;
          > div:nth-child(1) {
            // flex: 1;
          }
          > div:nth-child(2) {
            flex: 12;
          }
          > div {
            @include verticalAlign();
            > img {
              width: 30px;
              margin: 0px 10px;
            }
            > input {
              line-height: 40px;
              font-size: 30px;
              font-weight: bold;
              transition: all 0.2s ease;
              background-color: #ececec;
              border: none;
              width: 99%;
              &:focus {
                outline: none !important;
              }
              &:hover {
                background-color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c4c4c4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c4c4c4;
}
