.hm_create_btn {
  position: absolute;
  bottom: 75px;
  left: 10px;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: rgb(26, 26, 26);
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s all;

  -webkit-box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.75);
  > i {
    top: 1;
  }
}
.hm_create_btn:hover {
  color: #ff4b33;
  //   transform: rotate(360deg);
  border-radius: 0%;
}
.hm_create_btn:active {
  background: #000000;
}
.close_button {
  border: 2px solid #000000;
  background: #fcf3f3;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}
.close_button:hover {
  opacity: 0.8;
}
.close_button:active {
  opacity: 1;
}
.explore_enclosure {
  padding: 15px;
}
.fake_searchbox {
  border: 2px solid black;
  text-align: left;
  .explore_input {
    border: 2px solid rgba(245, 0, 0, 0);
    // width: 275px;
    width: 95%;
    font-size: 20px;
    line-height: 10px;
    padding: 5px;
    position: relative;
  }
  .explore_input:focus {
    outline: none !important;
  }
}
.fs {
  display: flex;
  .fs1 {
    flex: 0;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 5px;
  }
  .fs2 {
    flex: 10;
  }
  .fs3 {
    flex: 1;
    font-size: 22px;
    margin-top: 8px;
  }
}

.search_visible {
  position: absolute;
  width: 99%;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px,
    rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  //   left: 3px;
  padding: 10px 0;
  background-color: white;
  margin-top: 2px;
  text-align: center;
  //when screen is smaller than 320px
}
.search_invisible {
  display: none;
}
.close_button {
  border: 2px solid #000000;
  background: #fcf3f3;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}
.close_button:hover {
  opacity: 0.8;
}
.close_button:active {
  opacity: 1;
}

@media screen and (max-width: 770px) {
  .search_visible {
    width: 88%;
  }
}
@media screen and (max-width: 550px) {
  .search_visible {
    width: 86%;
  }
}

@media screen and (max-width: 470px) {
  .search_visible {
    width: 85%;
  }
}

@media screen and (max-width: 450px) {
  .search_visible {
    width: 83%;
  }
}
@media screen and (max-width: 415px) {
  .search_visible {
    width: 82%;
  }
}
@media screen and (max-width: 376px) {
  .fake_searchbox {
    .explore_input {
      width: 90%;
    }
  }
  .search_visible {
    width: 81%;
  }
}
@media screen and (max-width: 321px) {
  .fake_searchbox {
    .explore_input {
      width: 90%;
    }
  }
  .search_visible {
    width: 77%;
  }
}
