.box1 {
  //   border: 1px solid #000000;
  padding: 10px 40px;
  .box1A {
    .closeBtn {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      cursor: pointer;
      &:active {
        opacity: 0.8;
      }
    }
    .box1A1 {
      > img {
        width: 130px;
      }
    }
    .box1A2 {
      > p:nth-child(1) {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 0;
        padding: 25px 0;
        // width: 40vw;
      }
      > p:nth-child(2) {
        // margin-top: 0;
        font-size: 15px;
        font-weight: normal;
        color: gray;
      }
    }
    .box1A3 {
      border: 2px solid #000000;
      border-left: 7px solid #fc4444;

      > div:nth-child(1) {
        > input {
          padding: 2px 5px;
          width: 95%;
          border: none;
          line-height: 40px;
          font-size: 18px;
          //disable border on focus
          &:focus {
            outline: none !important;
          }
        }
      }
    }
    .box1A4 {
      > button {
        border: none;
        background: black;
        color: white;
        line-height: 40px;
        width: 100px;
        margin-top: 15px;
        font-size: 15px;
        cursor: pointer;
        &:active {
          background: rgb(12, 12, 12);
        }
      }
    }
  }
}
