@mixin verticalAlign() {
  display: flex;
  justify-content: center;
  //   align-items: center;
  flex-direction: column;
}
@mixin buttonProperties() {
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.8 !important;
  }
  &:active {
    opacity: 1 !important;
  }
}
.box1 {
  background-color: white;
  padding: 10px;
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
  // cursor: pointer;
  .box1A {
    flex: 1;
    display: flex;
    .box1A1 {
      width: 65px;
      height: 65px;
      > img {
        @include verticalAlign();
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .box1A2 {
      @include verticalAlign();
      padding: 10px;
      > p {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      > p:nth-child(1) {
        font-size: 18px;
        color: #21293c;
        // font-weight: 600;
      }
      > p:nth-child(2) {
        font-size: 15px;
        font-weight: 400;
        color: #4b587c;
        color: gray;
      }
    }
  }
  .box1B {
    flex: 3;
    @include verticalAlign();
    > div {
      display: flex;
      text-align: right;
      justify-content: space-evenly;
      > button {
        height: 35px;
        // width: 75px;
        border: 1px solid #e6e6e600;
        background-color: transparent;
        border: 2px solid rgba(255, 0, 0, 0);
        cursor: pointer;
        // margin-left: 10px;
        border-radius: 2px;
        &:hover {
          background-color: #f7f7f7;
          border: 2px solid #e0e0e000;
        }
      }
      > button:nth-child(1) {
        cursor: not-allowed;
      }
      > button:nth-child(2) {
        cursor: not-allowed;
      }
      > button:nth-child(3) {
        &:hover {
          background-color: #f7f7f7;
          border: 2px solid #e0e0e000;
        }
      }
      > button:nth-child(4) {
        &:hover {
          // border: 2px solid red;
          background-color: #ffcdcd;
        }
      }
    }
  }
  //animation1 *****
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    // box-sizing: border-box;
    animation-name: example;
    // border-left: 10px solid #fc4444;
    transition: 0.5s ease all;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
}

.publishBtn {
  .lystBtn {
    border: 1px solid #e0e0e0;
    background-color: #fc4444;
    margin-top: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.8s;
    background-size: 200% auto;
    color: white;
    display: block;
    // border: none;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
  }
  .lystBtn:hover {
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(
      to right,
      #fc4444 0%,
      #fa8383 51%,
      #fc4444 100%
    );
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  .lystBtn:active {
    opacity: 0.8;
  }
}

@media screen and (max-width: 600px) {
  .publishBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    .lystBtn {
      width: 80vw;
      // height: 40px;
      margin-top: 0;
    }
  }
}

//animation1 *****
@keyframes example {
  0% {
    border-left: 1px solid #ffffff;
  }
  17% {
    border-left: 1.5px solid #ffffff;
  }
  25% {
    border-left: 2px solid #ffe6e6;
  }
  37% {
    border-left: 2.5px solid #ffe6e6;
  }
  50% {
    border-left: 3px solid #ff8080;
  }
  75% {
    border-left: 3.5px solid #ff8080;
  }
  100% {
    border-left: 4px solid #ff0000;
  }
}
@keyframes rotation {
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  // 100% {
  //   transform: rotate(0deg);
  // }
}

//when screen size is less than 768px
@media screen and (max-width: 500px) {
  .box1A2 {
    > p {
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
