* {
  font-family: "Roboto", sans-serif;
  background-color: #fffefe;
  text-transform: lowercase;
}
.leftSide {
  text-align: left;
  margin-left: 100px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 9vw;
}
.leftSide > p:nth-child(3) {
  color: #ff4b33;
}
p {
  padding: 0;
  margin: 0;
}
.icon {
  width: 40px;
  position: relative;
  left: -10px;
}
.rightSide {
  /* padding: 20px; */
  text-align: left;
  margin-top: 10px;
}

.ip_plus_error {
  margin-bottom: 10px;
}
.error_msgs {
  font-size: 15px;
  color: #d76464;
}
.email_input {
  border: 1px solid black;
  width: 275px;
  font-size: 20px;
  line-height: 10px;
  padding: 5px;
}
.email_input:focus {
  outline: none !important;
}

.reg_button {
  border: 2px solid #ffe2e2;
  background: #fcf3f3;
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}
.reg_button:hover {
  opacity: 0.8;
}
.reg_button:active {
  opacity: 1;
}
/* When the browser is at least 600px and above */
@media screen and (min-width: 1000px) {
  .leftSide {
    font-size: 4vw;
  }
  .rightSide {
    margin-top: 50px;
  }
}

.otp_input {
  border: 1px solid black;
  width: 150px;
  font-size: 20px;
  line-height: 10px;
  padding: 5px;
}
.otp_input:focus {
  outline: none !important;
}

.otf_label {
  font-weight: 500;
  margin-bottom: 7px;
  display: inline-block;
}

.hm_master_blocks {
  min-height: 95vh;
  overflow-x: hidden !important;
  overflow: hidden;
  position: relative;
}

.icon_home {
  width: 40px;
  margin-top: 6px;
}

.home_name {
  font-size: 20px;
  margin-right: 5px;
}
.home_username {
  font-size: 15px;
}
.mnu {
  cursor: pointer;
}

.home_gp {
  cursor: pointer;
  padding: 10px;
  transition: 0.3s ease all;
}
.home_gp:hover {
  background-color: #fcf3f3;
}
.home_gp:active {
  background-color: #f3e2e2;
}
.home_gp_name {
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
}
.home_gp_username {
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
}
.hm_create_div {
  padding: 10px;
}
.hm_create_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: rgb(26, 26, 26);
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  transition: 0.3s ease all;

  -webkit-box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.75);
}
.hm_create_btn:hover {
  color: #ff4b33;
}
.hm_create_btn:active {
  background: #000000;
}
.home_send_parent {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 5px;
}
.home_send {
  border: 1px solid black;
  font-size: 15px;
  padding: 5px;
  width: 95%;
}
.home_send:focus {
  outline: none !important;
}
.home_posts {
  margin: 3px;
  overflow: scroll;
  height: 100%;
  margin-bottom: 15px;
}
.home_send_btn {
  font-size: 15px;
  padding: 5px;
  /* width: 80%; */

  border: 2px solid #ffe2e2;
  cursor: pointer;
  color: black;
}
.home_send_btn:hover {
  background: #fcf3f3;
}
.home_send_btn:active {
  background: #f3e2e2;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(207, 207, 207);
}
