* {
  font-family: "Roboto", sans-serif;
  /* background-color: #FFFBFB; */
  /* text-transform: lowercase;
  padding: 0;
  margin: 0; */
}
body {
  background-color: #fffbfb;
}
p {
  padding: 0;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207);
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: rgb(207, 207, 207);
} */
