* {
  font-family: "Roboto", sans-serif;
  /* background-color: #fffefe; */
  text-transform: lowercase;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(207, 207, 207);
}
