@mixin verticalAlign() {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  padding: 35px 10px;
  padding-top: 75px;
  .box1 {
    display: flex;
    justify-content: center;
    > div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      border: 2px solid rgb(0, 0, 0);
      width: 100%;
      @include verticalAlign();
      > div:nth-child(2) {
        width: 100%;
        > input {
          width: 100%;
          line-height: 25px;
          font-size: 18px;
          border: none;
          //on focus
          &:focus {
            outline: none !important;
          }
        }
      }
    }
  }
  .box2 {
    > p {
      font-size: 17px;
      margin: 20px 0;
    }
  }
}
.signedIn {
  display: flex;
  .signedInA {
    .imgbox {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      > img {
        @include verticalAlign();
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .signedInB {
    @include verticalAlign();
  }
}
